*.pdf
*.fzpz
*.jpg
*.mp4
*.bak
*.lib
*.png
*.kicad_pcb-bak
*.wrl
*.bck
*.bin
*.zip
*.gbr
*.drl
*.pyc
*.hex
*.osp
*.o
*.vcd
*.vvp
*.vpi
*.out
zz_*.ino
/sample/
/temp/
build-*/
.mypy-cache/
*.img
sym-lib-table

fp-info-cache
*.sch-bak
*_gerbers/
pty?
/emulator/experimental
